.catalog{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e7e7e7;
    padding: 30px 50px;
    margin: 10px 20px;
    margin-bottom: 20px;

    border-radius: 10px;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    width: fit-content;
    margin: 0
}

.filters button{
    padding: 2px 20px;
    margin: 5px;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .products{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width: 480px) and (max-width: 800px) {
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 480px) {
    .catalog{
        padding: 30px 20px;
        margin: 10px 0px;
        margin-bottom: 20px;
    }
    .products{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
}