.qt-picker{
    display: flex;
}
.qt-picker label{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.qt-picker button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 31px;
    margin: 8px
}

@media (max-width: 480px) {
    .qt-picker button{
        width: 80px;
        height: 41px;
    }
}